* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(./clouds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2c99ff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(255, 253, 253, 0.33);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: #fffefe;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    color: #2c99ff;
    outline: none;
}

button {
    width: 25%;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #2c99ff;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #17538b;
}

#weather-info {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#error-message {
    color: #FF5722;
    margin-top: 20px;
}
